* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    display: flex;
    background-color: #000508;
    color: white;
    height: 15vh;
    border-bottom: 5px solid #00b7ff;
}

h1.titulo {
    color: #00b7ff;
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.container ul {
    display: flex;
    gap: 30px;
    list-style: none;

}

.container ul li a {
    color: #ad8251;
    text-decoration: none;
    font-weight: bold;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    color: white;
    background: url(../assets/imgs/bg-jelly-fish-para-home.png) no-repeat center;
    background-size: cover;
}


.banner .container p span {
    font-weight: bold;
}


.banner .container p {
    font-weight: 200;
    width: 200px;
    font-size: 2em;
}


.social .container {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    height: 70vh;
}


.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    width: 300px;
    height: 100%;
}


.box img {
    width: 150px;
}

.box h4 {
    color: #ff008c;
    font-size: 1.2em;
}

.box p {
    width: 160px;
    font-size: 1em;
}


.footer {
    padding-top: 20px;
    height: 30vh;
    background-color: #00b7ff;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}